.container {
    display: flex;
    justify-content: space-between;
}
.link {
    
    text-decoration: none;
}
a {
    color: black;
    text-decoration: none;
}
.nav_bar {
    border: 2px solid rgb(235, 235, 235);
    background-color: white; 
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 50px;
    justify-content: left;
    align-items: center;
    padding: 10px;
    z-index: 1000;
}
#homeImage{
    width: 50px;
    height: 50px;
}